@CHARSET "ISO-8859-1";

*
{
	color: white;
	background-color: black;
}

span.bold 
{
	font-weight: bold;
}

#center
{
	float: left;
	width: 63%;
}

#title
{
	text-align: center;
}

#border 
{
	float: left;
	width: 18%;
}

#border #border_title
{
	text-align: center;
	font-size: 6px;
	padding-bottom: 10px;
}

.ui-widget-content {
	color: white!important;
	background-color: black!important;
	border: none!important;
}